span {
    cursor: pointer;
    color: gray;
  }
  
  span.active {
    color: gold;
  }


  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 30%; 
    margin: 0 auto; 
  }
  